body {
  height: 600px;
  margin: auto;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 330px;
}
.container {

  height: 400px;

  background: grey;
}
.fondo {
  z-index: 1;
  position: relative;
  background: black;
  height: 200px;
  width: 330px;
  margin: 20px 15px 0px 15px;
  border-radius: 30px 30px 0px 0px;
}
.circulo {
  z-index: 10;
  display: flex;
  position: relative;
  left: 90px;
  bottom: 90px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: grey;
  justify-content: center;
  align-items: center;
}
.moustache {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}
.back {
  height: 200px;
  width: 330px;

  border-radius: 30px 30px 0px 0px;
}

h1 {
    
  top: 0px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
h2 {
  font-size: 16px;
  color: white;
}
.boton {
  display: flex;
  flex-direction: row;
  background: rgb(6, 169, 233);
  justify-content: center;
  width: 80%;
  margin: 20px;
  border-radius: 10px;
}

/* .quesito {
    z-index:1;
    position:absolute;
    bottom: 60px; 
    width: 200px;
    height: 200px;
    border-radius:50%;
    border-radius: 50%;
    clip: rect(0px, 90px, 80px, 0px);
    transform: rotate(222deg);
    background:#191919;
   
  }
   .triangulo {
    border-right: 135px solid transparent;
     border-top: 135px solid transparent;
     border-left: 135px solid transparent;
     border-bottom: 135px solid #4F77FF; 
     
   
  } */
